<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Party</title>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <section class="header">
        <h1 class="logo">Picture Party</h1>
        <div class="loginnav">
            <a href="/login" class="login">Login</a>
            <a href="/register" class="register">Start Voting</a>
        </div>
    </section>

    <section class="centerpanel">
        <div class="innerpanel">
            <h1>Find a movie to watch with friends!</h1>
        
            <h3>Join the party!</h3>

            <h3>Ready to get started?</h3><a href="/register" class="register">Start Voting</a>
            <div>
                <img src="/img/popcorn.png" class="popcorn">
            </div>
        </div>
    </section>
</body>
</html>