<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Party</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <section>
        <h2>Redeem</h2>
        <section>
            <% if(locals.result) { %>
                <p><%=result%></p>
            <% } %>
            <form action="/redeem" method="post">
                <input type="text" name="movie_title" value="movie_title">
                
                <button type="submit">Redeem</button>
            </form>
        </section>
        
    </section>
</body>
</html>