<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Party</title>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/redeem.css">

</head>
<body>
    <section class="header">
        <a href="/home" class="logo"><h1>Picture Party</h1></a>
        <div class="loginnav">
            <a href="/create_poll" class="createpoll">Create Poll</a>
            <a href="/redeem">Redeem Movie</a>
            <a href="/logout">Log out</a>
        </div>
    </section>

    <section class="centerpanel">
        <div class="innerpanel"> 
            <h2>Redeem A Movie</h2>
            <p>Your Points: <span class="primary-accent"><%= locals.points %></span></p>
            <p>Earn:</p>
            <p><span class="secondary-accent">0 points</span> for voting on your own movie.</p>
            <p><span class="secondary-accent">5 points</span> for voting on someone else's movie!</p>
            <p><span class="secondary-accent">5 points</span> if someone votes for your movie!</p>
            <p>Spend:</p>
            <p><span class="secondary-accent">100 points</span> to watch a movie of your choice!</p>
            <div class="error">
                <% if(locals.result) { %>
                    <p><img src="/img/errorlogo.png" class="errorlogo"><%=result%></p>
                <% } %>
            </div>

            <form action="/redeem" method="post">
                <label class="label">Movie Title</label>
                <input type="text" name="movie_title" placeholder="movie title" class="textbox" required>
                
                <button class="submitbutton" type="submit">Redeem</button>
            </form>
        
        
    </section>
</body>
</html>







    
           
        
            

            
        
