<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Party</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <section class="header">
        <a href="/" class="logo"><h1>Picture Party</h1></a>
    </section>
    


    <section class="centerpanel">
        <div class="innerpanel"> 
            <h2>Get Started</h2>
        
            <div class="error">
                <% if(locals.result) { %>
                    <p><img src="/img/errorlogo.png" class="errorlogo"><%=result%></p>
                <% } %>
            </div>

            <form action="/register" method="post">
                <p class="label">Username</p>
                <input class="textbox" type="text" name="username" placeholder="username">
                <p class="label">Password</p>
                <input class="textbox" type="password" name="password" placeholder="password">
                
                <p>Already have an account?<a class="register" href="/login">Login!</a></p>
                
                <button class="submitbutton" type="submit">Start Voting</button>
            </form>
        
        </div>
    </section>
</body>
</html>